Body{
margin: auto;
padding: 0%;
font-family: Montserrat;
}

.navbar-brand{
font-family: Staatliches;
font-size: 36px;
line-height: 103%;
}
 nav ul li{
margin-right: 40px;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0px;
color: #0F172A;
 }
 ul .btn{
    background-color: #3E64FF;
    border: none;
    font-size: 14px;
    font-weight: 600;
}

.heroSection{
margin:  60px   56px;
}

img{
width: 100%;
height: 516px;
}
.heroTitle{
    margin: 22px;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
  color: #0F172A;



}
.heroPara{
    margin: 22px;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #0F172A;
}
.caseStudies{
    margin:160px 0px;
}
.caseStudies-title{
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}

.caseStudies-para{
    margin-top:24px ;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    
    
}
.casestudy .col-6{
     position: relative;
    margin-top:45px ;
    height: auto;

}
.casestudy .col-6 img{
    height: 100%;
}


.aboutUs{
margin: 180px 0;
}
.aboutUs .row{
    margin-top: 200px;
}

.aboutUs-title{
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    
}
.aboutUs-discription{
font-family: Montserrat;
font-size: 40px;
color: #0F172A;
font-style: normal;
font-weight: 600;
line-height: 49px;
letter-spacing: 0px;
text-align: left;
}

.aboutUs-brief{
margin-top: 24px;
font-family: lato;
color: #6F747F;
font-size: 20px;
letter-spacing: 0.5px ;
font-weight: 400;
}
.aboutUs-illustration{
width: 90%;
height: 90%;
}
.contactUs{
background-color: #E7EAF3;
text-align: center;
}
.contactUs-content{
padding:62px 0px;
}
.contactUs-content h3{
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.15000000596046448px;
 
    
    
}
.contactUs ul li{
display: inline-block;
margin: 20px;
}
.contactUs img{
    width: 30px;
    height: 30px;
}
